<header>
    <div class="container">

        <a href="/">
            <div class="logo">
                <img src="assets/logo.png" alt="Logo Foodfy">
            </div>
        </a>

        <nav class="primary">
            <ul>
                <li>
                    <a href="/about">
                        Sobre
                    </a>
                </li>
        
                <li>
                    <a href="/recepies">
                        Receitas
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</header>