{% extends "layout.njk" %}

{% block content %}

<div class="content">
    <div class="cards">

        <div class="card" id="asinhas.png">
            <img src="assets/asinhas.png" alt="Asinhas de frango">
            <h1> Asinhas de Frango </h1>
            <p> Por Roberto </p>
        </div>

        <div class="card" id= "burger.png">
            <img src="assets/burger.png" alt="Hamburguer">
            <h1> Hamburguer com Bacon </h1>
            <p> Por Estefani </p>
        </div>

        <div class="card" id="doce.png">
            <img src="assets/doce.png" alt="Doces">
            <h1> Doces de Mel </h1>
            <p> Por Daniel </p>
        </div>

        <div class="card" id="espaguete.png">
            <img src="assets/espaguete.png" alt="Espaguete">
            <h1> Espaguete ao Molho Branco </h1>
            <p> Por Mônica </p>
        </div>

        <div class="card" id="lasanha.png">
            <img src="assets/lasanha.png" alt="Lasanha">
            <h1> Lasanha de Queijo </h1>
            <p> Por José </p>
        </div>

        <div class="card" id="pizza.png">
            <img src="assets/pizza.png" alt="Pizza">
            <h1> Pizza Vegetariana </h1>
            <p> Por Magali </p>
        </div>

        <div class="card" id="asinhas.png">
            <img src="assets/asinhas.png" alt="Asinhas de frango">
            <h1> Asinhas de Frango </h1>
            <p> Por Roberto </p>
        </div>

        <div class="card" id="burger.png">
            <img src="assets/burger.png" alt="Hamburguer">
            <h1> Hamburguer com Bacon </h1>
            <p> Por Estefani </p>
        </div>

        <div class="card" id="doce.png">
            <img src="assets/doce.png" alt="Doces">
            <h1> Doces de Mel </h1>
            <p> Por Daniel </p>
        </div>

        <div class="card" id="espaguete.png">
            <img src="assets/espaguete.png" alt="Espaguete">
            <h1> Espaguete ao Molho Branco </h1>
            <p> Por Mônica </p>
        </div>

        <div class="card" id="lasanha.png">
            <img src="assets/lasanha.png" alt="Lasanha">
            <h1> Lasanha de Queijo </h1>
            <p> Por José </p>
        </div>

        <div class="card" id="pizza.png">
            <img src="assets/pizza.png" alt="Pizza">
            <h1> Pizza Vegetariana </h1>
            <p> Por Magali </p>
        </div>

    </div>
</div>

<div class="modal-overlay">
    <div class="modal">
        <a class="close-modal">
            Fechar Modal
        </a>

        <div class="modal-recepies">
            <img src="" alt="">
            <h1> </h1>
            <p> </p>
        </div>
    </div>
</div>

<script src="scripts.js"> </script>


{% endblock content %}
